nav {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12), inset 0 -1px 0 0 #dadce0;
}

.intro {
    background: transparent url(../img/plan-intro-bg.png) center -1px no-repeat;
    background-size: 100% auto;
    margin-top: -10px;
}

.intro-content .question {
    display: block;
    font-size: 80%;
    color: #6c757d;
}

.card-title {
    font-weight: 400
}

footer {
    background: transparent url(../img/page-bottom-bg.png);
    background-position: right 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

/*Small devices (landscape phones, 400px and up)*/
@media (min-width: 320px) {
    .intro {
        margin-top: 40px;
        padding: 50px 0px 70px;
    }

    footer {
        padding: 76px 0;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .intro-content {
        margin: 0 40px;
    }


}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .intro {
        margin-top: -10px;
        padding: 160px 0px 40px;
    }

    .intro-content {
        grid-row-gap: calc((100vw - 80px) / 23);
        margin: 0 auto;
        max-width: 1120px;
    }

    .product-image {
        height: 250px;
    }

    footer {
        padding: 206px 0;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .product-image {
        height: 300px;
    }

    footer {
        padding: 300px 0;
    }

    .intro {
        padding: 160px 0px 85px;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }