@media screen and (min-width:768px) {

}

@media screen and (min-width:1200px) {

}

nav {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12), inset 0 -1px 0 0 #dadce0;
}

.intro {
    background: transparent url(../img/plan-intro-bg.png) center -1px no-repeat;
    background-size: 100% auto;
    margin-top: -10px;
}

.intro-content .question {
    display: block;
    font-size: 80%;
    color: #6c757d;
}

@media (min-width: 1120px) and (min-width: 600px) {
    .intro {
        margin-top: -10px;
        padding: 160px 0px 140px;
    }

    .intro-content {
        grid-row-gap: calc((100vw - 80px) / 23);
        margin: 0 auto;
        max-width: 1120px;
    }


}

@media (min-width: 600px) {
    .intro-content {
        margin: 0 40px;
    }

    footer {
        padding: 300px 0;
    }
}

@media (max-width: 400px) {
    .intro {
        margin-top: 40px;
        padding: 50px 0px 70px;
    }

    footer {
        padding: 65px 0;
    }
}

.card-title {
    font-weight: 400
}

footer {
    background: transparent url(../img/page-bottom-bg.png);
    background-position: right 101%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.scrollToTop:hover{
    text-decoration:none;
}